{
  "root": true,
  "env": {
    "node": true
  },
  "extends": ["plugin:vue/essential", "@vue/prettier", "@vue/typescript"],
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "rules": {
    "vue/valid-v-for": "off",
    "no-case-declarations": "off",
    "no-dupe-class-members": "off",
    "no-console": "off",
    "no-empty": "off"
  }
}

