

$style-dark:  #2c2c2c;
$style-darker:  #1a1a1a;
$style-light: #fafafa;
$style-primary: #19bd9c;

$style-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$style-font-color:  $style-dark;
$style-font-size:   14px;
