.about {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($color: $background-floating, $alpha: 0.8);

  display: flex;
  justify-content: center;
  align-items: center;

  .window {
    max-width: 70vw;
    background: $background-secondary;
    border-radius: 5px;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $background-tertiary;
      border: 2px solid $background-primary;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: $background-floating;
    }
  }
}

.about .window .about-content {
  padding: 30px 40px;
  text-align: center;
  color: $interactive-normal;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;

    img {
      height: 70px;
      margin-right: 10px;
    }

    span {
      font-size: 30px;
      line-height: 56px;
    }
  }

  p {
    margin: 0 0 15px;
  }

  .links a {
    color: $text-link;
    margin: 0 10px;
    text-decoration: none;
  }

  .version {
    color: $text-muted;
    font-size: 12px;
  }

  button {
    padding: 8px 24px;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background: $style-primary;
    cursor: pointer;
  }
}
