* text=auto
*.css text
*.js text
*.ts text
*.json text
*.htm text
*.html text
*.env text
*.xml text
*.svg text
*.txt text
*.ini text
*.sql text
*.sh text
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary