.avatar {
  user-select: none;
  text-align: center;
  background: white;
  color: black;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}
