/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.anchorOffset {
  scroll-margin-top: calc(var(--ifm-navbar-height) + 0.5rem)
}

/*
 * Custom CSS for OpenAPI documentation
 */

.api-method>.menu__link {
  align-items: center;
  justify-content: start;
}

.api-method>.menu__link::before {
  width: 50px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.25rem;
  border: 1px solid;
  margin-right: var(--ifm-spacing-horizontal);
  text-align: center;
  flex-shrink: 0;
  border-color: transparent;
  color: white;
}

.get>.menu__link::before {
  content: "get";
  background-color: var(--ifm-color-primary);
}

.put>.menu__link::before {
  content: "put";
  background-color: var(--openapi-code-blue);
}

.post>.menu__link::before {
  content: "post";
  background-color: var(--openapi-code-green);
}

.delete>.menu__link::before {
  content: "del";
  background-color: var(--openapi-code-red);
}

.patch>.menu__link::before {
  content: "patch";
  background-color: var(--openapi-code-orange);
}

/*
 * Custom CSS for the sidebar
 */

.menu__list-item-flat > .menu__list-item-collapsible > .menu__link:not([aria-expanded]) {
  pointer-events: none;
  user-select: none;
  text-transform: uppercase;
  font-size: 0.8em;
  padding-top: 16px;
  padding-bottom: 3px;
}

.menu__list-item-flat > .theme-doc-sidebar-item-category-level-1 > .menu__list-item-collapsible .menu__link:not([aria-expanded]) {
  padding-top: 22px;
  padding-bottom: 3px;
}

.menu__list-item-flat > .menu__list-item-collapsible:has(> .menu__link:not([aria-expanded])) + .menu__list {
  padding-left: 0;
}

.menu__list-item-flat > .menu__list-item-collapsible:has(.menu__link:not([aria-expanded])) {
  pointer-events: none;
}
