ul.room-settings {
  li {
    display: inline-block;
    margin-right: 10px;

    i {
      font-size: 24px;
      cursor: pointer;
    }
  }
}

.room-settings select {
  appearance: none;
  background-color: $background-tertiary;
  border: 1px solid $background-primary;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  height: 24px;
  vertical-align: text-bottom;
  display: inline-block;

  option {
    font-weight: normal;
    color: $text-normal;
    background-color: $background-tertiary;
  }

  &:hover {
    border: 1px solid $background-primary;
  }
}
