.showcase {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  background-color: var(--ifm-color-emphasis-100);
}

.showcaseContent {
  flex: 1;
  padding: 0 2rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}